.sidebar {
  flex: 1;
  min-height: 100vh;
  background-color: #15122a;

  .title {
    margin-top: 50px;
    padding-top: 10px;
    background-color: white;
    font-family: poppins;
    padding-left: 30px;
    color:black ;
 
  }
}
